// *** import google fonts
@import url("https://fonts.googleapis.com/css2?family=Public+Sans");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

@import "/variables";

body {
  font-family: $epa-generic-font-family;
}

.hour-input {
  width: 2em !important;
}

.page-header {
  font-size: 2.5em;
  font-weight: bold;
}

.page-subheader {
  font-size: 1.375em;
  font-weight: bold;
}

[data-initials]:before {
  content: attr(data-initials);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: $epa-blue-base;
  vertical-align: middle;
  margin-right: 0.5em;
  color: white;
}

.epa-active-element {
  :is:not(textarea, input, select) {
    border: none !important;
  }
  outline: none !important;
}
