// *** import google fonts
@import url("https://fonts.googleapis.com/css2?family=Public+Sans");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

@import "/variables";

body {
  font-family: $epa-generic-font-family;
}

.hour-input {
  width: 2em !important;
}

.page-header {
  font-size: 2.5em;
  font-weight: bold;

  @media (max-width: 64em) {
    font-size: 2.2em;
  }
}

.page-subheader {
  font-size: 1.375em;
  font-weight: bold;
}

[data-initials]:before {
  content: attr(data-initials);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: $epa-info-base;
  vertical-align: top;
  color: white;
  margin: -0.25em;
}

.epa-active-element {
  :is:not(textarea, input, select) {
    border: none !important;
  }
  outline: none !important;
}

#loggedInUserInitials img {
  height: 3em;
}

.menu-item-separator {
  color: $epa-darkslate-blue;
}

.filter-title {
  float: left;

  @media (max-width: 32em) {
    float: none !important;
    font-size: 1rem !important;
    margin-left: 3.25em !important;
  }

  @media (max-width: 64em) {
    font-size: 1.5rem !important;
    text-align: left !important;
    position: relative;
    top: 1.25em;
  }
}

header {
  @media (max-width: 64em) {
    padding: 0 !important;
  }
}

.left-sidenav-to-header-wrapper {
  .usa-accordion__button {
    background-position: right -1.25rem center;
    padding-right: 1.25em;
    padding-left: 0.5em;
  }
}

.flex-force-break {
  flex-basis: 100%;
  height: 0;
}

.btn-black-text-and-outline {
  color: $epa-black !important;
  border-color: $epa-black !important;
  box-shadow: inset 0 0 0 2px $epa-black !important;
}
