@import "../../styles/variables";

.qa-table-wrapper{
  .expandBTN:hover {
    cursor: pointer;
  }
  .editViewExpandGroup {
    display: flex;
    align-items: center;
  }
  .rdt_TableRow:nth-child(odd) > .rdt_TableCell {
    background-color: $epa-off-white !important;
  }
}
