
.methodTitle{
    display: inline-block;
}
.rectBTN {

    margin-right: 0;
    background-color: white;
    border: solid;
    color: grey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

    outline:none;
    height: 10px;
    display :flex;
    align-items: center;
    float:right;
    font-weight:bold;
  }
  