.break-line {
  display: block;
  width: 100%; /*or whatever width you want the effect of <hr>*/
  border-top: 1px solid #ccc;
}
.backBTNColor {
  color: grey !important;
}

.colMaxWidth {

  max-width: 75%;
  min-width: 20%;
}

.usa-date-picker__wrapper {
 max-width: 10rem !important;
}

.usa-date-picker__button {

  margin: 0 !important;
  padding: 0 !important;
}