.break-line {
  display: block;
  width: 100%; /*or whatever width you want the effect of <hr>*/
  border-top: 1px solid #ccc;
}
.backBTNColor {
  color: grey !important;
}

.colMaxWidth {

  max-width: 75%;
  min-width: 20%;
}

.usa-date-picker__wrapper {
 max-width: 58% !important;
 
 .usa-date-picker__external-input{
  margin-right: 0 !important;
 }
}

.usa-date-picker__calendar {
  min-width: 17rem !important;
 }
 
.usa-date-picker__button {

  margin: 0 !important;
  padding-right: 15px !important;
}

.usa-date-picker__calendar {

  transform: translate(50%, -30%); 
}

.modal-help{
  white-space: normal !important;
  overflow:  normal !important;
}

.usa-hint{
  font-size: 11px !important;
}