.menuBtn {
  float: right;
  position: relative;
  width: 36px;
  height: 36px;
  left: 40px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  text-align: center;
  opacity: 1;
  z-index: 1;
}

#menuContent {
  float: right;
  position: absolute;
  bottom: -5px;
  right: 1rem;
  width: 200px;
  height: 120px;
  box-shadow: 0px -2px 22px -6px rgba(60, 55, 61, 0.37),
    -10px 10px 22px -6px rgba(60, 55, 61, 0.37);
  background: #f1f1f1 0% 0% no-repeat padding-box;
  padding: 15px;
}

.menuOff {
  display: none;
}

.menuOn {
  display: block;
}

.menuItem {
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid lightgrey;
  font: normal bold 13px Source Sans Pro, sans-serif;
  color: #727070 !important;
}

.menuItem a:link,
a:visited {
  color: rgb(114, 112, 112);
}

.menuItem:first-child {
  border-top: 1px solid lightgrey;
}
