thead,
tbody {
  display: block;
}

tbody {
  height: auto; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
  width: 100%;
}
