.titleBox{
    text-align: center;
    background-color: #112e51;
    color: white;
    display: flex;
    justify-content:  center;
    padding-top:10px;
    font-family: Merriweather,Georgia,Cambria,"Times New Roman",Times,serif
}