@import "../../additional-scss/variables";

.aboutHome {
  .title {
    background-color: $epa-green;
    border-color: $epa-blue-base;
  }

  .box {
    border-color: $epa-green;
  }
}

.viewAboutBTN {
  color: $epa-black !important;
}

.forceUnderlineText {
  text-decoration: underline !important;
}

.colorContrast {
  color: $epa-teal !important;
}
