@import "../../additional-scss/variables";

.initial-tab-button {
  padding: 1em !important;
  width: 14.1em !important;
}

.tab-button {
  color: $epa-darker-gray;
  cursor: pointer;
  font-weight: bold;
  width: 15em !important;
  height: 3em !important;
  padding-top: 0.25em !important;
}

.ellipsis-text {
  width: 13em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: 2em;
  margin-top: 0.15em;
}

.active-tab-button {
  border-bottom: 0.25em solid $epa-blue-base;
  color: $epa-blue-base;
  cursor: default;
  // outline: none !important;
}

#closeXBtnTab {
  position: relative;
  top: -1.25em !important;
}
