@import "../../additional-scss/variables";

.initial-tab-button {
  padding: 1em !important;
  width: 14.1em !important;
}

.tab-button {
  color: $epa-disabled-dark;
  cursor: pointer;
  font-weight: bold;
  width: 15em !important;
}

.active-tab-button {
  border-bottom: 0.25em solid $epa-blue-base;
  color: $epa-blue-base;
  cursor: default;
  outline: none !important;
}
