.updateBTN {
  color: #ffffff;
  background-color: gray;
  text-align: center;
  width: 70px;
  border: 0px;
  height: auto;
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 50px;
  font-size: 15px;
  margin: 0px;
}
.filterSelect {
  display: flex;
  align-items: center !important;
  /* float:right; */
}
.filterLabel {
  padding: 0px ;
  margin: 0px ;
  font-size: 15px;
  text-align:left !important;
  font-weight:bold;
}
#input-dropdown {
  min-width: 50px ;
  width: 75px ;
  margin: 0px;
}
#input-button {
  min-width: 50px ;
  padding: 15px;
  margin: 0px;
  border-radius: 0%;
}
