
.filterSearch>.usa-form>input.searchBox::-webkit-input-placeholder {
  font-style: italic !important;
}
.filterSearch>.usa-form>input.searchBox:-moz-placeholder {
  font-style: italic !important;
}
.filterSearch>.usa-form>input.searchBox::-moz-placeholder {
  font-style: italic !important;
}
.filterSearch>.usa-form>input.searchBox:-ms-input-placeholder {
  font-style: italic !important;
}
.filterBTN {
  overflow: auto;
  color: #ffffff;
  background-color: gray;
  text-align: center;
  width: 60px;
  height: 40px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 50px;
  font-size: 13px !important;

  border-radius: 0%;
}
