@import "../../styles/variables";

.import-modal-container {
  .usa-file-input__accepted-files-message {
    display: none;
  }
  .has-invalid-file {
    border-color: $epa-red !important;
  }
  #import-file-name-text {
    margin-right: 0.5rem;
  }
  .usa-form-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #fileName {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
  }
  .usa-file-input__preview-heading {
    background: $epa-white !important;
  }

  .usa-alert--error.usa-alert--slim {
    .usa-alert__text {
      color: $epa-black !important;
      font-weight: 400 !important;
      font-size: 1rem !important;
    }
  }
}
