.photo {
  height: 45px;
  width: 100px;
  padding-bottom: 15px;
}
.btnMenu {
  background-color: #fff !important;
  color: #0071bc !important;
  border-radius: 5px;
}

.sitewide-alert__content {
  font-size: 70.5882%;
  margin: 0;
  max-width: 35rem;
  padding: 0.5em 6.5em 0.5em 3.66667em;
  position: relative;
}

.usa-nav__primary button {
  font-weight: bold;
  letter-spacing: 0px;
  color: #0071bc;
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
}
.mainMenu>.usa-nav{
  min-width:400px;
}
