@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  #printContainer,
  .modal-footer,
  #closeModalBtn {
    display: none;
  }

  .usa-overlay.is-visible {
    background: white !important;
  }

  .modal-content {
    border: none;
  }
}
