@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  #printContainer {
    display: none;
  }
}

#skipNav,
#topHeader,
#leftNavToSubHeader,
#leftNav,
#footer {
  display: none !important;
}
