// thead,
// tbody {
//   display: block;
// }
.methodTable {
  color: gray;
  width: 100%;
  justify-content: center;
  bottom: 0;
  margin-bottom: -5px;
  margin-top: 0px;
  z-index: 999;
}
// tbody {
//   overflow-y: auto; /* Trigger vertical scroll    */
//   overflow-x: hidden; /* Hide the horizontal scroll */
//   width: 100%;
// }

.systemsCompTable > .container {
  max-width: 100%;
  min-width: 90%;
  width: 100%;
  padding: 0px;
  background-color: white;
}
.systemsCompTable {
  border-style: solid;
  border-width: thin;
  background-color: white;
  box-shadow: 0px -2px 22px -6px rgba(60, 55, 61, 0.37),
    -5px 5px 11px -6px rgba(60, 55, 61, 0.37);
}
.systemsCompTable > .container > .tableHead {
  box-shadow: 0px -2px 22px -6px rgba(60, 55, 61, 0.37),
    -5px 5px 11px -6px rgba(60, 55, 61, 0.37);
}
.systemsCompTable > .container > .usa-table--borderless td {
  border-bottom: lightgray 1px solid;
  border-top: lightgray 1px solid;
}
