/***** MAIN SOURCE stylesheet *****/
@import "~uswds/dist/css/uswds";

/***** GLOBAL VARIABLES (scss values used througout the app) *****/
@import "../../additional-scss/variables";

/***** APP SCOPE main source overrides *****/
@import "../../additional-scss/uswds-global-overrides";

@import "../../additional-scss/global-overrides";

@import "../../additional-scss/react-datatable-component-override";

/***** ANIMATIONS *****/
@import "../../animations/transitions";
