$transitionDuration: 0ms;

.timer-wrapper {
  justify-content: center;
}

.timer-container {
  margin: 5% 0 0 35%;
}

.time-wrapper {
  font-size: 48px;
}

.time-wrapper .time {
  position: absolute;
  left: 38%;
  top: 20%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all $transitionDuration;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}
