.accessoryLink a.usa-link {
  color: white !important;
  text-decoration: none;
  padding-left: 5px;
}

.accessoriesLinks {
  width: fit-content;
  background-color: gray;
}
.accessoryLink a {
  color: white !important;
}
