@import "../../styles/variables";

div.row.column1 {
  float: left;
  min-width: 50vw;
  position: relative;

  height: auto;
}
.mainContent {
  max-height: fit-content;
  max-width: 100%;
}
.contentrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.sideNav {
  display: flex !important;
  flex-direction: column !important;
}
.skip-to-content-link {
  position: absolute;
  left: 0;
  background: $epa-light-blue;
  color: $epa-white !important;
  cursor: pointer;
  height: 30px;
  padding: 8px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 99999;
}
#appErrorMessage {
  color: #d10000;
  border-color: #d10000;
}
#appErrorMessageText {
  white-space: pre-wrap;
}
.skip-to-content-link:focus {
  transform: translateY(0%);
}
