.accessories {
  float: right;

}
.title {
  display: inline-block;
}
a {
  padding: 5px;
}

.mpSelect {
  align-items: center;
}
.selects {
  display: flex;
  position: relative;
  width: 100%;
}
.statuses {
  padding-right: 50px;
  position: absolute;
  right: 0;
  display: inline-block;
}
