.checkbox-margin {
  margin-top: -2px !important;
  margin-bottom: 0;
}

.checkbox-container {
  margin-top: -20px;
  background: transparent !important;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}
