.modal-wrapper {
  margin: 4em auto;
  transition: all 0.5s ease;
  position: absolute;
  z-index: 500;
  top: 15%;
  box-shadow: 0px -2px 22px -6px rgba(60, 55, 61, 0.37),
    -10px 10px 22px -6px rgba(60, 55, 61, 0.37);
  border-radius: 1% !important;
}

.modal-color {
  border-radius: 1% !important;
}
