.modal-wrapper {
  position: absolute;
  z-index: 500;
  top: 3%;
  box-shadow: 0px -2px 22px -6px rgba(60, 55, 61, 0.37),
    -10px 10px 22px -6px rgba(60, 55, 61, 0.37);
  border-radius: 1% !important;
}

.modal-color {
  border-radius: 1% !important;
}

.break-line{
 
    display:block;
    width:100%; /*or whatever width you want the effect of <hr>*/
    border-top: 1px solid #ccc
}