@media screen and (min-width: 40em) {
  .region-preface {
    text-align: right;
    margin: 0 -1em;
    padding: 0.5em 1em;
  }
  .region-preface > div {
    text-align: left;
  }
}
.microsite-name {
  float: left;
  max-width: calc(100% - 23.8rem);
  padding-top: 0.8em;
}
#block-pane-epa-web-area-connect,
#block-pane-social-sharing {
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}
.connect-title {
  display: inline-block;
  line-height: 1.882353;
  margin-right: 0.5em;
  text-transform: uppercase;
}
.share-links {
  display: inline-block;
  list-style: none;
  margin: 0 0 0.75em;
  padding: 0;
}
.share-links__item {
  display: -moz-inline-stack;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  white-space: nowrap;
}
.share-links__link {
  border: 1px solid #0071bc;
  border-radius: 50%;
  color: #0071bc;
  display: inline-block;
  font-size: -10px;
  height: 30px;
  line-height: 35px;
  vertical-align: top;
  width: 30px;
}
a:visited {
  color: #4c2c92;
}
a:link {
  -webkit-tap-highlight-color: transparent;
}
.connect-title__link {
  text-decoration: none;
}
svg:not(:root) {
  overflow: hidden;
}
.icon--social-link {
  left: -13px;
  top: -9px;
}
.icon {
  display: inline-block;
  fill: currentColor;
  height: 15px;
  position: relative;
  top: -5px;
  vertical-align: middle;
  width: 55px;
}
h2 a {
  text-decoration: none;
}
