.related-info.multi.box > .pane-title {
  background-color: #2e8540;
  color: #fff;
}
.box > .pane-title {
  border: 1px solid #5b616b;
  border-bottom: 0;
  font-family: "Merriweathe";
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  padding: 16px 17px 13px;
  text-align: center;
}
.box > .pane-content {
  border: 1px solid #5b616b;
  border-bottom-width: 4px;
  margin: 0;
  padding: 1.7rem;
  border-color: #2e8540;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.box {
  background: #fff;
}
.col {
  padding: 0 1em;
}
