.modalColumn {
  float: left;
  width: 50%;
  height: fit-content; /* Should be removed. Only for demonstration */
  margin-top: 0;
  padding-right: 10px;
  padding-left: 10px;
}
.modalColumnRight {
  float: right;
  width: 50%;
  height: fit-content; /* Should be removed. Only for demonstration */
  margin-top: 0;

  padding-left: 10px;
}
.modalRow {
  width: 100%;
}
.modalRow:after {
  content: "";
  display: table;
  clear: both;
}
.modalDetails {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 3991px) {
  .modalDetails > .usa-form {
    max-width: 620px !important;
    min-width: 500px !important;
  }
}
.usa-label {
  margin-top: 10px;
  margin-bottom: 0px;
}
.requiredItalics{
  font-style: italic !important;
}
/* #dateStart>.usa-input {
  width:100%;
} */
.dateLabels > .usa-label {
  margin : 0;
}
.modalColumnDate {
  float: left;
  width: 70% !important;
  height: fit-content; /* Should be removed. Only for demonstration */
  margin-top: 0;
  /* display: inline-block */
}
.modalColumnDateRight {
  margin-left:10px;
  float: left;
  width: 25%;
  height: fit-content; /* Should be removed. Only for demonstration */
  margin-top: 0;
  /* display: inline-block */
}
