.footerLogo {
  width: 80px;
  height: 80px;
  opacity: 1;
}

.footerBar {
  background-color: #f2f6f8;
  width: 100% !important;
  border: solid 1px;
  height: 105px;
}

.content {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: #0d65ad;
  text-align: left;
  font: normal bold 20px/30px Source Sans Pro, sans-serif;
}

.main-footer {
  .grid-container {
    max-width: 100% !important;
  }

  .usa-footer__secondary-section {
    background: #fff !important;
    border-top: #d6d7d9 solid !important;
  }
}
