.checkbox-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox-container {
  margin-top: -20px;
}

.usa-checkbox {
  background: transparent !important;
  margin-top: -20px;
}

.usa-checkbox__label {
  margin-top: -2px !important;
}
