thead,
tbody {
  display: block;
  width: auto;
}

tbody {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.selectFacilitiesTitle > h2 {
  padding: 0;
}
.selectFacilitiesTitle > hr {
  width: 100%;
  border: none;
  height: 3px;
  color: gray;
  background-color: gray;
}
.selectFacilitiesTitle {
  padding-left: 15px;
  padding-top: 30px;
  padding-right: 15px;
}
