tbody tr:hover td.hovered{
  cursor: pointer;
  background-color: #e1f4f8;
}
td.selected  {
  background-color: #e1f4f8;
}
tbody .centerBox{
  display:flex;
  justify-content: center;
}
input {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  border: 0;
}
.tableButton{
  background-color: Transparent;
  border: solid;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
img {
  width:20px;
  height:auto;
}