.tableHead {
  position: relative;
  padding-top: 20px;
  overflow: auto;
  text-align: right;
  left: 0;
}
.filterAndSearch {
  display: flex;
  float: right;
}
.filter {
  display: inline-block;
  padding-right: 10px;
}
.search {
  display: inline-block;
  margin-left: 0;
}

.tableTitle {
  float: left;
  padding: 0px;
  position: absolute;
  bottom: 0;
}
.container {
  max-width: 100%;
  min-width: 90%;
  width: 100%;
}
