.tableHead {
  position: relative;
  overflow: auto;
  text-align: right;
  left: 0;
}
.filterAndSearch {
  display: flex;
  float: right;
}
.filter {
  display: inline-block;
  padding-right: 10px;
}
.search {
  display: inline-block;
  margin-left: 0;
}

.tableTitle {
  float: left;
  padding: 0px;
  padding-left: 10px;
  /* position: absolute; */
  bottom: 0;
  top:0;
}
.container {
  max-width: 100%;
  min-width: 90%;
  width: 100%;
  overflow: hidden 
}
.tableHead>h3{
  font-size: 25px;
  display:flex;
  align-items:center;
}

.usa-table td {
  padding:10px;
}

.addCompBTN {
  color: gray;
  background-color: Transparent;
  width: fit-content;
  min-width: 50px;
  font-size: 15px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  float:right;
  text-align: right;
  font-weight: 800;
  margin-left: 0 ;

  right: left;
  border: 2px solid gray ;
}
.container > .usa-table{
  margin: 0;
}