.leftNavigation {
  background-color: gray;
  /* display:flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 250px;
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  font-size: 15px;
}

.bottomPart {
  bottom: 0;
  position: absolute;
  padding-bottom: 30px;
}
