label {
  font-weight: bold;
}

#txtCheckDesc {
  height: 5rem;
  max-width: 100%;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.display-flex {
  display: flex;
}

.margin-right-20 {
  margin-right: 20px;
}

.btnSave {
  background-color: green;
}

.btnSave:hover {
  background-color: rgb(5, 80, 5);
}

.btnDelete {
  background-color: maroon;
}

.btnDelete:hover {
  background-color: rgb(150, 10, 10);
}