
#topbanner{
  position: relative;
  z-index: -1;
  width:100%;
  margin:0 auto;
  padding:0px 5px;
  text-align:center;
  background:linear-gradient(to bottom,#520001 0%,#6c0810 100%)
}

#topbannerinner{
  margin:0 auto;
  width:100%
}

#topbanner h3,#topbanner p{
  color: #FC0
}

#topbanner a:link,#topbanner a:visited,#topbanner a:hover{
  color:#fff
}
